.button {
    display: flex;
    justify-content: center;
    /* align-items: center; */
    padding: 6px 12px;
    font-size: 1rem;
    background-color: inherit;
    border-radius: 4px;
    color: #000;
    border: 1px solid #000000;
}

.button:hover {
    background-color: var(--background); 
}