header {
    background-color: var(--secondary);
    padding: 2vw 2vw 0px 2vw;
}

header h1 i {
    color: #fff;
    font-style: normal;
}

#search-section {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}