.product-item {
    display: flex;
    flex-direction: column;
    background-color: #c1c1c1;
    border-radius: 5px;
    padding: 5px;
    text-align: center;
}

.product-details {
    display: flex;
    flex-direction: column;
}

.product-details span {
    font-size: 1rem;
}

img {
    border-radius: 4px;
    background-color: #000;
}