.products-list {
    display: grid;
    width: 100%;
    grid-gap: 4vh 5vw;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    margin: 5px 10px;
}

.loading-container {
    height: "100vh";
    width: 100%;
    display: "flex";
    justify-content: "center";
    align-items: "center";
}