/* Reset CSS */

* {
    margin: 0;
    padding: 0;
}

html {
    line-height: 1.15; /* Improve readability */
    -webkit-text-size-adjust: 100%; /* Prevent text size adjustment after orientation change in iOS */
}

a {
    text-decoration: none;
    color: #000;
}

li {
    list-style: none;
}