#sections-tabs {
    margin-top: 15px;
    justify-content: space-between;
    align-items: center;
}

.tab-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.tab {
    cursor: pointer;
    color: #c1c1c1;
}

.tab-selected{
    color: #fff;
}

.tab-underline {
    background-color: var(--secondary);
    height: 2px;
}

.tab-underline-selected {
    background-color: #fff;
    height: 2px;
}