:root {
  font-family: "Proxima Nova", -apple-system, Roboto, Arial, sans-serif, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  --background: #f1f1f1;
  --secondary: #ff9901;
  --tertiary: #3e4242;

  color-scheme: light dark;
  color: #252424;
  background-color: var(--background);
}

.enlace {
  color: var(--tertiary);
  text-decoration: none;
}

.enlace:hover {
  text-decoration: underline;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 80vh;
}