:root {
  font-family: "Proxima Nova", -apple-system, Roboto, Arial, sans-serif, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  --secondary: #ec5959;
  --background: #f1f1f1;

  color-scheme: light dark;
  color: #252424;
  background-color: var(--background);
}

main {
  min-height: 90vh;
}

.enlace {
  color: rgb(62, 66, 66);
  text-decoration: none;
}

.enlace:hover {
  text-decoration: underline;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 80vh;
}